.ap-music-panel-main-circle {
  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;

  &.ap-music-panel-main-circle--hover {
    color: red;
  }
  &.ap-music-panel-main-circle--selected {
    color: green;
    font-weight: bold;
  }
}